#div_table_game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#table_game {
    background-color: pink;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 5px solid black;
}